@import "mixin";
@import "variables";

#staff {
    .h1,
    h1 {
        font-size: 1.5rem;
    }

    .card {
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        border: 1px;
        border-radius: 1rem;
        min-width: 250px;
        height: 337px;

        &:active {
            .description {
                transform: translateY(0);
                transition: transform 0.321s ease-in;
            }
        }

        .description {
            background-color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
            position: absolute;
            top: 0;
            transform: translateY(-100%);
            left: 0;
            width: 101%;
            padding: 15px;
            z-index: 10;
            transition: transform .3s ease-in;
            height: 230px;
            overflow-y: auto;

            p {
                color: black;
            }
        }

        h5 {
            overflow: hidden;
            height: 80px;
            font-weight: 300;
            font-size: 1rem;

            a {
                text-decoration: none;
            }
        }

        h2 {
            font-size: 1rem;
        }
    }

    .img-hover-zoom--colorize {
        img {
            object-fit: cover;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin-top: 20px;
            padding: 1px;
            transition: transform .5s;
            filter: grayscale(100%);
        }

        &:hover {
            img {
                filter: grayscale(0);
                transform: scale(1.05);
            }
        }
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fab {
        font-size: 1.5rem;
        transition: transform .5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .glide_staff {
        position: relative;

        .glide__arrows {
            width: 100%;

            .glide__arrow {
                color: black;
                background-color: #fff;
            }
        }


        .glide__bullets {
            bottom: 0;
        }
    }

    @media only screen and (min-width: 1200px) {
        .card {
            height: 397px;
        }
        .img-hover-zoom--colorize {
            img {
                width: 200px;
                height: 200px;
            }
        }
        .h1,
        h1 {
            font-size: 2rem;
        }
    }
}
