@import "mixin";
@import "variables";

#staff {

    .card {
        min-width: 250px;

        &:active {
            .description {
                transform: translateY(0);
                transition: transform 0.321s ease-in;
            }
        }

        .description {
            transform: translateY(-105%);
            width: 100%;
            transition: transform .3s ease-in;
            height: 230px;
            overflow-y: auto;
            z-index: 2;
        }
    }

    .img-hover-zoom--colorize {
        img {
            transition: transform .5s;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        &.hover {
            img {
                filter: grayscale(100%);
            }
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }

    .bi {
        font-size: 1.5rem;
        transition: transform .5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}
