#staff .h1,
#staff h1 {
  font-size: 1.5rem;
}
#staff .card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1px;
  border-radius: 1rem;
  min-width: 250px;
}
#staff .card:active .description {
  transform: translateY(0);
  transition: transform 0.321s ease-in;
}
#staff .card .description {
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 0;
  width: 101%;
  padding: 15px;
  z-index: 10;
  transition: transform 0.3s ease-in;
  height: 230px;
  overflow-y: auto;
}
#staff .card .description ul, #staff .card .description li,
#staff .card .description p {
  color: black;
}
#staff .card h5 {
  overflow: hidden;
  height: 80px;
  font-weight: 300;
  font-size: 1rem;
}
#staff .card h5 a {
  text-decoration: none;
}
#staff .card h2 {
  font-size: 1rem;
}
#staff .img-hover-zoom--colorize img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  padding: 1px;
  transition: transform 0.5s;
}
#staff .img-hover-zoom--colorize:hover img {
  transform: scale(1.05);
}
#staff .img-hover-zoom--colorize.hover img {
  filter: grayscale(100%);
}
#staff .img-hover-zoom--colorize.hover:hover img {
  filter: grayscale(0);
}
#staff .box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#staff .fab {
  font-size: 1.5rem;
  transition: transform 0.5s;
}
#staff .fab:hover {
  transform: scale(1.1);
}
#staff .glide_staff {
  position: relative;
}
#staff .glide_staff .glide__slides {
  align-items: stretch;
}
#staff .glide_staff .glide__slides .glide__slide {
  height: auto;
}
#staff .glide_staff .glide__arrows {
  width: 100%;
}
#staff .glide_staff .glide__arrows .glide__arrow {
  color: black;
  background-color: #fff;
}
#staff .glide_staff .glide__bullets {
  bottom: 0;
}
@media only screen and (min-width: 1200px) {
  #staff .img-hover-zoom--colorize img {
    width: 200px;
    height: 200px;
  }
  #staff .h1,
#staff h1 {
    font-size: 2rem;
  }
}
